<div>
	<br>
		<h2><%= @flash %></h2>
	<br>
</div>

<div class="container">
	<h2>Sign up for an account!</h2>
		<form action="/users" method="post">
			<input type="text" placeholder="First Name" name="user[firstname]"><br>
			<input type="text" placeholder="Last Name" name="user[lastname]"><br>
			<input type="text" placeholder="Email" name="user[email]"><br>
			<input type="password" placeholder="Password" name="user[password]"></br>
			<button>SIGN UP</button>
		</form>
</div>


<div class="container">
	<h2>Login to your account!</h2>
		<form action="/sessions" method="post">
			<input type="text" placeholder="Email" name="user[email]"><br>
			<input type="password" placeholder="Password" name="user[password]"></br>
			<button>LOGIN</button>
		</form>
</div>


<div class="container">
	<h2>Log out from your account!</h2>
		<form action="/sessions/:session_id" method="post">
			<button>LOG OUT</button>
		</form>
</div>

<p></p>

<!-- <a href="/questions">View all questions</a> -->