<form action="/properties/:property_id/bookings" method="post">
	<input type="text" size="30" name="booking[book_start]"><br>
	<input type="text" size="30" name="booking[book_end]"><br>
	<input type="text" size="30" name="booking[book_status]"><br>
	<button>Edit</button>
</form>