<html>
	<head>
		<title>AirBnB Ruby Assessment</title>

		<h1> AirBnB Ruby Assessment</h1>
  		<link href="/css/application.css" rel="stylesheet" type="text/css">
	</head>


	<body>
		<%= yield %>
	</body>
	
</html>